.wrapper{
    background-color: #1D2F30;
    position: relative;
    overflow: auto;
    min-height: 100%;
}

[class*='__container']{
    max-width: 1110px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.color-white{
    color: white;
}

.small-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 400;
}

.text-xl{
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
}

.open-sans{
    font-family: open-sans, sans-serif;
}


.cormorant_bold{
    font-family: cormorant_bold, sans-serif;
}


