.help-project{
    height: auto;
    background-image: linear-gradient(rgba(29, 47, 48, 0.6), rgba(29, 47, 48, 0.6)), url("../../images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 0 20%;
}

.help-project__block{
    height: 463px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.help-project__title{
    font-family: cormorant-bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.help-project__text{
    font-family: open-sans, sans-serif;
    width: 825px;
}

.help-project__log{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 350px;
    height: 183px;
}

.help-proect__inp{
    width: 350px;
    height: 45px;
    
    padding-left: 16px;
}

.help-proect__inp::placeholder{
    font-family: open-sans, sans-serif;
    color: #899D9D;
}

.help-project__btn{
    width: 145px;
    height: 45px;
    background-color: #BAE249;
}

.help-project__link{
    font-family: open-sans, sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #0B1919;
}

.help-project__btn:hover{
    opacity: 0.5;
}
