.new-artefact{
    height: 571px;
}

.new-artefact__container{
    height: 571px;
}

.new-artefact__block{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-artefact__title{
    font-family: cormorant_italic;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
}

.new-artefact__illustration{
    display: flex;
    justify-content: space-between;
}

.new-artefact__img{
    width: 825px;
    height: 493px;
}

.new-artefact__text-block{
    position: relative;
    width: 255px;
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: #BAE249;
    gap: 8px;
    padding-left: 16px;
}

.new-artefact__text-block__title{
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    font-family: cormorant_bold;
    color: #1D2F30;
}

.new-artefact__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: open-sans, sans-serif;
    color: #506829;
    width: 223px;
    height: 312px;
}

.new-artefact__next{
    position: absolute;
    background: none;
    left: 16px;
    bottom: 24px;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    display: flex;
    gap: 8px;
}

.new-artefact__next:hover{
    opacity: 0.5;
}

.new-artefact__next-link{
    color: #0B1919;
}